<!DOCTYPE html>
<html>
<head>
    <title>Vue.js Reactive Component Test - Vehicle</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <style>
        #vehicleComponent ul.loading {
            -webkit-filter: blur(5px);
        }
        #vehicleComponent div.loadingMessage {
        }
    </style>
</head>
<body>
    <section>
        <div class="container">
            <div id="selector">
                <input type="number" v-model="vehicleIDInput">
            </div>
            <div id="vehicleComponent">
                <vehicle-details v-bind:vehicle-i-d="vehicleIDInput"></vehicle-details>
            </div>
        </div>
    </section>

    <!-- Templates -->
    <script type="text/x-template" id="template-vehicleDetails">
        <div>
            <ul v-bind:class="{ loading: loading }">
                <li>{{ vehicleDetails.manufacturer }}</li>
                <li>{{ vehicleDetails.model }}</li>
            </ul>

            <!-- Loading message -->
            <div class="loadingMessage" v-if="loading">Loading</div>
        </div>
    </script>

    <!-- Scripts -->
    <!-- Vue.js (non-minified version so we get full error messages) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>

    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>

    <!-- Page script -->
    <script src="vehicle.js"></script>
</body>
</html>
